.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 282px;
  height: 20px;
  background-color: #000000;
  margin-bottom: 8px;
  border-radius: 20px;
  border: 1px solid black;
  padding: 20px 24px;
  margin-top: 16px;
}

.buttonTextWhite {
  color: white;
  background-color: black;
}

.buttonTextBlack {
  color: black;
  background-color: white;
}
